body {
    margin: 2rem;
    background-color: rgba(105, 65, 3, 0.47);
}

#info {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 3em;
    font-weight: bold;
}

.data {
    display:flex;
    flex-direction: column;
    text-align:center;
}
